/* style for the CMS app store page
 http://law.harvard.edu/library/research/databases/apps.html*/

h1 {
  color: #11cbf7;
}

#innerlay {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #bee620;
    border-radius: 3px 3px 3px 3px;
    margin: 80px auto 0;
    padding: 30px;
    width: 580px;
}

.result {
    clear:left;
    /*min-height: 320px;*/
    min-height:270px;
    margin-bottom: 15px;
}

.result h2 {
    margin-bottom: 10px;
    font-size:1.8em;
}

.result .desc {
    margin-bottom: 30px;
    font-size:13px;
    line-height:18px;
}

.result .preview {
    float:left;
    margin-right: 20px;
    border: 2px solid #cbcbcb;
    /*min-height:250px;*/
    height:200px;
    overflow:hidden;
    min-width:177px;
    background: url('../images/placeholder.png') no-repeat;
}

#search-apps {
    margin-top: 20px;
    margin-bottom:15px;
}

form input[type="text"] {
height: 35px;
width: 50%;
margin: 0;
padding: 0 0 0 10px;
font-size:18px;
line-height:18px;
border: 1px solid #CCCCCC;
vertical-align:middle;
}

form input[type="submit"] {
height: 37px;
width: 20%;
margin: 0;
padding: 0;
font-size:18px;
background-color: #FFFFFF;
border: 1px solid #CCCCCC;
vertical-align:middle;
}

#filters {  
  height:55px;
}

#filters ul {
  list-style-type: none;
  float:left;
  margin:0;
}

#filters ul li {
  background:none;
  padding:0;
  margin:0;
  line-height: 1.5em;
}

#filters ul li.column1, #filters ul li.column2, #filters ul li.column3 { margin-left: 0px; }
#filters ul li.column4, #filters ul li.column5, #filters ul li.column6 { margin-left: 150px; }
#filters ul li.column7, #filters ul li.column8, #filters ul li.column9 { margin-left: 300px; }
#filters ul li.column10, #filters ul li.column11, #filters ul li.column12 { margin-left: 450px; }

#filters ul li.column4,
  #filters ul li.column7, #filters ul li.column10
  {
    margin-top: -4.5em;
  }
  
.controls {
  clear:both;
  margin-top:15px;
  float:left;
}

.control-action {
    cursor: hand; cursor: pointer;
    color: #E22B00;
}

.control-action:hover {
  color: #E22B00;
  text-decoration: underline;
}